# read this from the GOVC conf file
export VIServer="mystandaloneesxi.server.com"           # Modify this to the physical ESXi server
export VIUsername="root"                           # Login ID of the ESXI server
export VIPassword='myesxipassword'
export NestedESXiApplianceOVA="../binaries/Nested_ESXi7.0u2_Appliance_Template_v1.ova" # Modify this 
export HAProxyOVA="../binaries/haproxy-v0.1.10.ova"                                    # Modify this 
export AVIOVA="../binaries/controller-20.1.5.ova"                                    # Modify this 
export VCSAInstallerPath="/mnt/vcenter"             # Mount the vCenter install ISO to this mount path

# Nested ESXi VMs to deploy
export NestedESXiHostname=("pacific-esxi-11" "pacific-esxi-12" "pacific-esxi-13")
export NestedESXiIPs=("192.168.100.51" "192.168.100.52" "192.168.100.53")

# Nested ESXi VM Resources
export NestedESXivCPU="8"
export NestedESXivMEM="24576" #MB
export NestedESXiCachingvDisk="8" #GB
export NestedESXiCapacityvDisk="140" #GB
export NestedESXiNetwork1="workload0-priv"
export NestedESXiNetwork2="workload1-priv"

# VCSA Deployment Configuration
export VCSADeploymentSize="small"
export VCSADisplayName="pacific-vcsa1"
export VCSAIPAddress="192.168.100.50"
export VCSAHostname="pacific-vcsa1.env1.lab.local" #Change to IP if you don't have valid DNS
export VCSAPrefix="23"
export VCSASSODomainName="vsphere.local"
export VCSASSOPassword="VMware1!"
export VCSARootPassword="VMware1!"
export VCSASSHEnable="true"

# General Deployment Configuration for Nested ESXi, VCSA & NSX VMs
#export VMDatacenter="Datacenter"
#export VMCluster="Cluster"
#export VMFolder="Project-Pacific"
export VMNetwork="mgmt-priv"
export VMDatastore="LUN01"
export VMNetmask="255.255.254.0"
export VMGateway="192.168.100.1"
export VMDNS="192.168.100.1"
export VMNTP="10.128.243.13"
export VMPassword="VMware1!"
export VMDomain="env1.lab.local"
export VMSyslog="192.168.100.50"

# Applicable to Nested ESXi only
export VMSSH="true"
export VMVMFS="false"

# Name of new vSphere Datacenter/Cluster when VCSA is deployed
export NewVCDatacenterName="Pacific-Datacenter"
export NewVCVSANClusterName="Supervisor-Cluster"
export NewVCVDSName="Pacific-VDS"
export NewVCVDSName1="Workload0-VDS"
export NewVCVDSName2="Workload1-VDS"
export NewVCDVPGName="DVPG-Management-network"
export NewVCDVPGName1="workload0-network"
export NewVCDVPGName2="workload1-network"

# Pacific Configuration
export StoragePolicyName="pacific-gold-storage-policy"
export StoragePolicyTagCategory="pacific-demo-tag-category"
export StoragePolicyTagName="pacific-demo-storage"
export DevOpsUsername="devops"
export DevOpsPassword="VMware1!"

# HAProxy Configuration
export HAProxyVM="haproxy"
export HAProxyVMIP="192.168.100.57"
export HAProxyWorkloadIP="192.168.102.2/23"
export HAProxyWorkloadGW="192.168.102.1"
export HAProxySVCIPRange="192.168.103.0/24"
export HAProxyAdminPWD="VMware1VMware1"

# HAProxy Configuration
export AVIVM="avi"
export AVIVMIP="192.168.100.58"
